.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.leftLink {
    position: absolute;
    left : 0;
}

.lightBlueHover:hover {
    background-color: var(--mantine-color-lightBlue-2);
}

.leftLink:hover {
    cursor: pointer;
}

.link:hover {
    cursor: pointer;
}